*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #000;
  color: #fff;  
}

a, a:visited, a:hover{
  text-decoration: none;
  color: unset;
}