*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #000;
  color: #fff;  
}

a, a:visited, a:hover{
  text-decoration: none;
  color: unset;
}

#sales{
  padding: 40px 10px;
}

.dsmeta-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}